AMGIMS_API_URL=http://127.0.0.1:4000/api/v1
AMGIMS_SITE_API_KEY=
AMGIMS_COMPANY_CODE=AMG
RESEND_API_KEY=
SALES_INBOX=ayexgodfrey27@gmail.com
NEXT_PUBLIC_SITE_URL=http://localhost:3200
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_WHATSAPP=256707469261
NEXT_PUBLIC_CONTACT_EMAIL=sales@amginternationallogistics.com
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/amginternationallogistics
NEXT_PUBLIC_X_URL=https://x.com/amginternationallogistics
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/amginternationallogistics
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/company/amg-international-logistics
